<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abrigo de Animais</title>
    <link href="https://fonts.googleapis.com/css2?family=Muli&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="/static/uploads/logo-placeholder.png" alt="Logo do Abrigo">
            <h1>AdoPet</h1>
        </div>
        <nav>
            <a href="{{ url_for('index') }}">Início</a>
            <a href="{{ url_for('contato') }}">Contato</a>
            <a href="{{ url_for('login') }}">Admin</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer id="footer">
        <p>Projeto AdoPet é um projeto sem fins lucrativos.</p>
        <p>Campina Grande/PB.</p>
        <p>Telefone: (83) 99999-9999</p>
        <p>Instagram: <a href="https://www.instagram.com/Adopet" target="_blank">@Adopet</a></p>
    </footer>
</body>
</html>
